{% extends "base.html" %}



{% block content %}
    <div class="col-md-9">

        {% for i in notes %}
            <div class="card mb-3">

                <div class="card-header">
                    <p class="{% cycle 'text-primary' 'text-danger' %}">
                        Категория: {{ i.category }} {{ i.pk }} </p>
                    <!--i.category-->
                </div>

                <div class="media">
                    {% if i.photo %}
                        <img class="mr-3 m-3" src="{{ i.photo.url }}" width="300">
                    {% else %}
                        <img class="mr-3" src="https://picsum.photos/seed/picsum/300/200">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="card-title m-3">{{ i.title }}</h5>
                        <p class="card-text">{{ i.content|linebreaks }}</p>
                        <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>

                    </div>
                </div>


                <div class="card-footer text-muted">
                    {{ i.created_at }} {{ i.created_at|timesince }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}



