{% extends "base.html" %}


{% block content %}
    <div class="col-md-9">
        {% for i in notes %}
            <div class="card mb-3">

                <div class="card-header">
                    <p class="{% cycle 'text-primary' 'text-danger' %}">
                        Категория: {{ i.category|lower }} [заметка № {{ i.pk }}]<br>
                        Даные зашифрованы
                    </p>
                    <!--i.category-->
                </div>

                <div class="media">
                    {% if i.photo %}
                        <img class="mr-3 m-3" src="{{ i.photo.url }}" width="300" alt="фото">
                    {% else %}
                        <img class="mr-3" src="https://picsum.photos/seed/picsum/300/200" alt="фото">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="card-title m-3">{{ i.title_en }}</h5>
                        <p class="card-text"
                           style="word-wrap: break-word">{{ i.content_en|linebreaks|truncatewords:40|truncatechars_html:100 }}</p>
                        <a href="{{ i.get_absolute_url }}" class="btn btn-outline-primary">Go somewhere</a>


                    </div>
                </div>


                <div class="card-footer text-muted">
                    {{ i.created_at }} {{ i.created_at|timesince }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


