{% extends "base.html" %}

{% block content %}
<div class="col-md-9">

    <div class="card mb-3">

        <div class="card-header">
            <p class="{% cycle 'text-primary' 'text-danger' %}">
                Категория: {{ notes.category }} {{ notes.pk }} </p>
        </div>

        <div class="media">
            {% if notes.photo %}
                <img class="mr-3 m-3" src="{{ notes.photo.url }}" width="300">
            {% else %}
                <img class="mr-3" src="https://picsum.photos/seed/picsum/300/200">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title m-3">{{ notes.title }}</h5>
                <p class="card-text">{{ notes.content|linebreaks|truncatewords:40  }}</p>
                <a href="{{ notes.get_absolute_url }}" class="btn btn-outline-primary">Go somewhere</a>

            </div>
        </div>


        <div class="card-footer text-muted">
            {{ notes.created_at }} {{ notes.created_at|timesince }}
        </div>
    </div>
</div>
{% endblock %}

