<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"> Сергей (033) 313 15 15<br>Лубешко </a>
            </li>
            <li class="nav-item " style="padding-left: 3.5rem">
                <a class="nav-link" href="{% url 'home' %}">Главная</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item" style="padding-left: 3.5rem">
                    <a class="nav-link" href="{% url 'addnote' %}">Добавить заметку</a>
                </li>
            {% endif %}
        </ul>


        {% if request.user.is_authenticated %}
            <span class="navbar-text" style="padding-right: 3.5rem">
                Добро пожаловать, {{ user.username }} |
                <a href="{% url 'logaut' %}">Выход</a>
            </span>

        {% else %}
            <span class="navbar-text" style="padding-right: 3.5rem">
                <a href="{% url 'registry' %}">Регистрация</a> |
                <a href="{% url "login" %}">Логин</a>

            </span>
        {% endif %}

    </div>
</nav>